@mixin  clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}