$color-black: #000;
$color-white: #fff;
$color-grey: #999999;
$color-grey-light: #eee;
$color-grey-dark: #777;
$color-black-light: #282828;

$color-border: #ffffff4b;

$color-footer-main: #111111;
$color-footer-navigation: #070707;

$color-primary: #ffba00;

$font-primary: 'Titillium Web', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 53.125em; //850px
$bp-small: 37.5em; //600px
