.heading-primary {
  font-family: $font-primary;
  font-size: 7rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  &--dark {
    color: $color-black;
  }

  &--light {
    color: $color-white;
  }

  &--primary {
    color: $color-primary;
  }

  &-lg {
    font-size: 5rem;
  }

  &-md {
    font-size: 2.6rem;
  }

  &-sm {
    font-size: 2.5rem;
  }

  &-xs {
    font-size: 1.8rem;
  }

  &-hover {
    font-family: $font-primary;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.2rem;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}

.heading-secondary {
  font-family: $font-secondary;
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-primary;
  text-transform: uppercase;

  &--dark {
    color: $color-black;
  }

  &--light {
    color: $color-white;
  }
}

.paragraph-text {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 2.5rem;

  &--light {
    color: $color-white;
  }

  &--grey {
    color: $color-grey;
  }

  &--dark {
    color: $color-black;
  }

  &--sm {
    font-size: 1.2rem;
  }

  &--xs {
    font-size: 0.8rem;
  }

  &-hover {
    font-family: $font-secondary;
    font-size: 1.1rem;
    line-height: 2.5rem;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}

@media only screen and (max-width: $bp-large) {
  .heading-primary {
    font-size: 4rem;

    &--dark {
      color: $color-black;
    }

    &--light {
      color: $color-white;
    }

    &--primary {
      color: $color-primary;
    }

    &-lg {
      font-size: 3.6rem;
    }

    &-md {
      font-size: 2.5rem;
    }

    &-sm {
      font-size: 2rem;
    }

    &-xs {
      font-size: 2rem;
    }
  }

  .heading-secondary {
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-primary;
    text-transform: uppercase;

    &--dark {
      color: $color-black;
    }

    &--light {
      color: $color-white;
    }
  }
}
