.about-us {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10rem;
}

.available-on {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.our-games {
  margin-bottom: 4rem;
}

.all-games-btn-container {
  margin-bottom: 11rem;
}

.news {
  margin-bottom: 10rem;
}

.featured-games {
  margin-bottom: 30rem;
}

.blog {
  margin-bottom: 15rem;
}

.about-cloux {
  margin-bottom: 10rem;
}

.game-shop {
  margin-bottom: 10rem;
}
