.game-shop {
  &-container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    & > :not(:last-child) {
      margin-right: 3rem;
    }
  }

  &-images {
    width: 100%;
  }
}

.game-shop-image {
  width: 100%;
  height: auto;
}

.game-shop-images {
  padding-bottom: 1rem;
}

@media only screen and (max-width: $bp-medium) {
  .game-shop {
    &-container {
      margin: 0 auto;
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      & > :not(:last-child) {
        margin-right: 0rem;
      }
    }

    &-images {
      width: 100%;
    }
  }
}
